-
  let $;
  if (locale.hasOwnProperty('en')) {
    $ = locale.en;
  } else {
    $ = locale;
  }
  const task = "bank";
  /**
   * {Array.<Object>} list of benefits data
   */
  const benefits = [
    {
     title: $.p5,
     desc: $.p6,
     thumb: 'ico-5'
    },
    {
     title: $.p7,
     desc: $.p8,
     thumb: 'ico-6'
    },
    {
     title: $.p9,
     desc: $.p10,
     thumb: 'ico-7'
    },
    {
     title: $.p11,
     desc: $.p12,
     thumb: 'ico-8'
    }
  ]
  const bullets = [
    {
     title: $.p14,
     desc: $.p15,
     thumb: '<img src="i/ico-1.svg" >'
    },
    {
     title: $.p16,
     desc: $.p17,
     thumb: '<img src="i/ico-2.svg" >'
    },
    {
     title: $.p18,
     desc: $.p19,
     thumb: '<img src="i/ico-3.svg" >'
    },
    {
     title: $.p20,
     desc: $.p21,
     thumb: '<img src="i/ico-4.svg" >'
    },
  ]
  const getRandomArbitrary = (min, max) => {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  /**
   * @func get site.com instead income https://site.com
   * @return {string} link to personal area
   */
  String.prototype.my = function() {
    var dataFormated = this.replace('https:\/\/', '');
    var patt = new RegExp('\/$');
    if (patt.test(dataFormated)) {
      dataFormated = dataFormated.replace(/\/$/, '');
    }
    return "https://my." + dataFormated;
  };

mixin benefit(props)
  .col-lg-3.col-sm-6
    .benefit
      .benefit__thumb: div.sprite(class=`sprite-${props.thumb}`)
      .benefit__body
        h3.benefit__title!= props.title
        .benefit__desc!= props.desc

mixin bullet(props)
  .bullet
    .bullet__thumb!= props.thumb
    .bullet__body
      h3.bullet__title!= props.title
      .bullet__desc!= props.desc

mixin icon(name,mod)
  - mod = mod || ''
  svg(class=`sprite sprite-${name}`)
    use(xlink:href="i/sprite.svg#" + name)

mixin checkbox(title, attr)
  - attr.id = attr.id || 'fbs' + getRandomArbitrary(1, 300)
  .js-checkbox.checkbox(role="checkbox" tabindex="0")
    input.checkbox__input(type="checkbox" name="RegistrationForm[agreeWithTerms]" value="1")&attributes(attr)
    label.checkbox__label(for=attr.id)
      i.checkbox__icon
      |  !{title}

mixin form
  form.form(method="POST" action=`${$.site.my()}/registration/?lang=${$.lang}`)
    .row
      .col-sm-6.form__group
        input.form__input.is-block(type="text" name="RegistrationForm[name]" placeholder=$.f1)
      .col-sm-6.form__group
        input.form__input.is-block(type="email" name="RegistrationForm[email]" placeholder=$.f2)
        input(type="hidden" name="RegistrationForm[tariff]" value="stand")
    .form__group
      +checkbox($.f3.replace($.f4, `<a href="https://my.fbs.com/upload/agreement_en.pdf" target="_blank">${$.f4}</a>`), {})
    button.btn.btn--brand.is-fx-width!= $.f5
