.i {
    background-image: url('#{$src}sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.i--amchair {
    width: 115px;
    height: 117px;
    background-position: -5px -5px;
}

.i--balloon {
    width: 116px;
    height: 120px;
    background-position: -130px -5px;
}

.i--cup {
    width: 91px;
    height: 85px;
    background-position: -5px -135px;
}

.i--hand {
    width: 126px;
    height: 115px;
    background-position: -106px -135px;
}

.i--hat {
    width: 91px;
    height: 69px;
    background-position: -256px -5px;
}

.i--logo-ticket {
    width: 36px;
    height: 36px;
    background-position: -357px -5px;
}

.i--man {
    width: 90px;
    height: 88px;
    background-position: -256px -84px;
}

.i--money {
    width: 88px;
    height: 87px;
    background-position: -242px -182px;
}

.i--plane {
    width: 120px;
    height: 115px;
    background-position: -5px -279px;
}
