.form {
  margin: 0 auto;
  max-width: 700px;

  &__group {
    margin-bottom: 20px;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__input {
    background-color: rgba(30, 31, 37, 0.5);
    border: 2px solid $color-accent-darker;
    box-sizing: border-box;
    color: $color-form-text;
    font-family: $font-header;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17px;

    &::placeholder {
      color: $color-form-text;
    }

    &.is-block {
      display: block;
      width: 100%;
    }
  }
}

.form--light {
  color: #000;

  .form__input {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;

    &::placeholder {
      color: #000;
    }
  }

  .checkbox__icon {
      &::before {
        border: 2px solid #000;
        background-color: #fff;
      }
    }

  .checkbox__input:checked + .checkbox__label .checkbox__icon::before {
    background: #fff svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="15.537" height="13.144" viewBox="0 0 15.537137416366022 13.143966807818288"><title>check</title><path d="M1.099 6.452l5.36 5.59 7.79-10.97" fill="none" stroke="#76af1a" stroke-miterlimit="50" stroke-width="2"/></svg>') center center no-repeat;
  }
}

.checkbox {
  display: inline-block;
  font-size: 14px;
  outline: none;
  position: relative;
  text-align: center;
  font-family: $font-header;

  // STATE
  // &:active,
  // &:focus {
  //   .checkbox__label::before {
  //     border-color: #bebebe;
  //   }
  // }
  // ELEMENTS
  a {
    color: inherit;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }

  &__input {
    display: none;
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    padding-right: 10px;

    &::before {
      background-color: rgba(36, 24, 15, 0.5);
      border: 2px solid $color-accent-darker;
      box-sizing: border-box;
      content: '';
      height: 24px;
      left: 0;
      position: absolute;
      top: 6px;
      // margin-top: 12px;
      width: 24px;
    }
  }

  &__label {
    cursor: pointer;
    vertical-align: middle;

    // padding-left: 24px;

    // &:hover {
    //   &::before {
    //   }
    // }
  }

  &__label-title {
    display: inline-block;
    // padding-left: 34px;
  }
  // COMBO
  // &__input + &__label .i--arrow {
  //   stroke: red;
  //   display: none;
  //   font-size: 8px;
  //   left: 4px;
  //   margin-top: -4px;
  //   position: absolute;
  //   top: 50%;
  // }
  // IS CHECKED

  &__input:checked + &__label &__icon::before {
    // border-color: $brand-primary;
    // background-color: $brand-primary;
    background: rgba(36, 24, 15, 0.5) svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="15.537" height="13.144" viewBox="0 0 15.537137416366022 13.143966807818288"><title>check</title><path d="M1.099 6.452l5.36 5.59 7.79-10.97" fill="none" stroke="#76af1a" stroke-miterlimit="50" stroke-width="2"/></svg>') center center no-repeat;
  }
}

.btn {
  box-sizing: border-box;
  cursor: pointer;
  font-family: $font-regular;
  font-size: 18px;
  line-height: 1;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;


  &--brand {
    background-color: $color-brand;
    color: #fff;
  }

  &.is-fx-width {
    margin: 0 auto;
    width: 100%;
    @media(min-width: 768px) {
      max-width: 320px;
    }
  }
}
