.promo {

  background: #fff url('#{$src}/bg-320.jpg') top center no-repeat;
  background-size: contain;
  color: #fff;
  padding: 30px 0;
  text-align: center;

  &__header {

    .slogan {

      @media(max-width: 768px) {
        padding-top: 35%;
      }
      @media(min-width: 450px) {
        padding-top: 45vw;
      }
      @media(min-width: 768px) {
        padding-top: 5px;
      }
    }
  }

  &__title {
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 44px;

    span {
      font-size: 18px;
    }
    @media(min-width: 768px) {

      font-size: 34px;


      padding-top: 140px;


      /* stylelint-disable */
      span {
        font-size: 22px;
      }
      @media(min-width: 1200px) {
        font-size: 38px;
        span {
          font-size: 24px;
        }
      }
      /* stylelint-enable */
    }
    @media(min-width: 960px) {
      padding-top: 250px;
    }
  }

  &__form {
    @media(min-width: 768px) {
      padding: 0 50px;
    }
  }

  // @media(min-width: 450px) {
  //   background-image: url('#{$src}/bg-960.jpg');

  // }

  @media(min-width: 768px) {
    background-image: url('#{$src}/bg-960.jpg');
    background-size: auto;


  }
  @media(min-width: 768px) {
    padding: 60px 0;

    &__header {
      display: table;
      margin: 0 auto 110px;

      @media (max-height: 850px) and (min-width: 1024px) {
        margin-bottom: 70px;
      }

      /* stylelint-disable */
      .logo {
        display: table-cell;
      }

      .slogan {
        display: table-cell;
        padding-left: 15px;
        vertical-align: top;

        position: relative;
        top: -5px;
      }

    }

    @media(min-width: 768px) {
      &__header {
        .slogan {
          padding-left: 30px;
        }
      }

    }
     /* stylelint-enable */
  }

  @media(min-width: 960px) {
    background-image: url('#{$src}/bg-1200.jpg');
  }
  @media(min-width: 1200px) {
    background-image: url('#{$src}/bg-1900.jpg');
    background-size: cover;
  }

  @media (max-height: 850px) and (min-width: 1024px) {
    padding: 15px 0;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 20px;

  img {
    display: block;
    height: auto;
    max-width: 79px;

    @media(min-width: 960px) {
      max-width: 90px;
    }
  }
}

.slogan {
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
  font-family: $font-header;

  color: #2a303b;

  font-size: 32px;

  color: $color-grey;

  @media (min-width: 768px) {
   text-align: left;
   margin-bottom: 45px;
   color: #fff;
 }

  &__title {
    margin-bottom: 15px;
    font-weight: 700;
  }

  &__sub {
    @media(min-width: 960px) {
    }
  }
}

.h1.slogan {
  margin-bottom: 35px;
}
