.page-footer {
  background-color: $color-alter-bg;
  color: #fff;
  padding: 50px 0 30px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 50px 0 70px;
  }
  &__wrapper {
    max-width: 1720px;
    margin: 0 auto;
  }
  &__form {
    @media (min-width: 960px) {
      max-width: 360px;
    }

    .form__group {
      width: 100%;
    }
  }
  &__thumb {
    box-sizing: border-box;
    @media(max-width: 960px) {
      padding: 0 30px;
      margin-bottom: 30px;
    }
  }
  &__c {
    font-size: 14px;
    padding-top: 50px;
  }

  &__e {
    color: #ffffff;
    line-height: 21px;
    font-size: 14px;
    display: inline-block;
    margin-top: 30px;
  }
}
