-
  let $;
  if (locale.hasOwnProperty('en')) {
    $ = locale.my;
  } else {
    $ = locale;
  }
  const task = 'auto';
  /**
   * {Array.<Object>} list of benefits data
   */
  const benefits = [
    {
     title: $.p7,
     desc: $.p8,
     thumb: 'money'
    },
    {
     title: $.p9,
     desc: $.p10,
     thumb: 'time'
    },
    {
     title: $.p13,
     desc: $.p14,
     thumb: 'graphs'
    },
    {
     title: $.p11,
     desc: $.p12,
     thumb: 'wheel'
    }
  ]
  const bullets = [
    {
     title: $.p16,
     desc: $.p17,
     thumb: '<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="#fff"> <path d="M91.5 100h-83C7.1 100 6 98.9 6 97.5V59.1c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5V95h78V59.1c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v38.4c0 1.4-1.1 2.5-2.5 2.5z"/> <path d="M73.4 59.1c-1.4 0-2.5-1.1-2.5-2.5 0-12.2-9.4-22.1-20.9-22.1s-20.9 9.9-20.9 22.1c0 1.4-1.1 2.5-2.5 2.5s-2.5-1.1-2.5-2.5c0-15 11.6-27.1 25.9-27.1s25.9 12.2 25.9 27.1c0 1.4-1.1 2.5-2.5 2.5z"/> <path d="M97.5 60.2h-95C1.1 60.2 0 59 0 57.7s1.1-2.5 2.5-2.5h95c1.4 0 2.5 1.1 2.5 2.5s-1.1 2.5-2.5 2.5zM50 34.4c-6.6 0-11.7-7-11.7-16 0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5c0 6 3.1 11 6.7 11s6.7-5 6.7-11c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5c0 8.9-5.1 16-11.7 16z"/> <path d="M61.8 17.9H38.2c-1.4 0-2.5-1.1-2.5-2.5V3.1c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v9.8h18.7V3.1c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v12.3c-.1 1.4-1.2 2.5-2.6 2.5z"/> <path d="M74.4 5H25.6c-1.4 0-2.5-1.1-2.5-2.5S24.2 0 25.6 0h48.8c1.4 0 2.5 1.1 2.5 2.5S75.8 5 74.4 5z"/> <path d="M70.6 16.7c-1.4 0-2.5-1.1-2.5-2.5V3.7c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v10.5c0 1.3-1.1 2.5-2.5 2.5z"/></svg>'
    },
    {
     title: $.p18,
     desc: $.p19,
     thumb: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="81" height="102" viewBox="0 0 819 1024"><path fill="none" stroke="#fff" stroke-width="36.4089" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" d="M779.973 876.747c0 46.615-36.631 83.253-83.253 83.253h-556.132c-46.634 0-83.253-36.631-83.253-83.253v-466.205c0-46.634 36.631-83.253 83.253-83.253h557.81c46.615 0 83.253 36.631 83.253 83.253v466.205z"></path><path fill="none" stroke="#fff" stroke-width="36.4089" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" d="M395.328 302.314c0 0-357.979-111.559-173.167-239.769 183.157-126.544 173.167 239.769 173.167 239.769z"></path><path fill="none" stroke="#fff" stroke-width="36.4089" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" d="M450.274 298.983c0 0 329.682-103.234 159.852-219.788s-159.852 219.788-159.852 219.788z"></path><path fill="none" stroke="#fff" stroke-width="36.4089" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" d="M418.639 343.926v597.76"></path></svg>'
    },
    {
     title: $.p20,
     desc: $.p21,
     thumb: '<svg xmlns="http://www.w3.org/2000/svg" width="100" height="125" viewBox="0 0 100 100" fill="#fff"> <path d="M85.3 33.2C81.5 16.9 66.8 5.3 50 5.3c-16.9 0-31.5 11.6-35.3 27.9C8.4 35.3 3.9 41.1 3.9 48v15.2c0 7.3 5.1 13.4 11.9 15.1 3.7 7.7 11.3 12.6 20 12.6h5c.9 3 3.7 5.2 7 5.2h5.4c4.1 0 7.4-3.3 7.4-7.4s-3.3-7.4-7.4-7.4h-5.4c-3 0-5.6 1.8-6.8 4.4h-5.3c-5.7 0-10.8-2.8-13.9-7.3 3.8-1 6.7-4.5 6.7-8.7V41.4c0-4.7-3.7-8.6-8.3-9 4-12.9 16-22 29.7-22 13.8 0 25.8 9.1 29.7 22-4.6.4-8.3 4.2-8.3 9v28.3c0 5 4 9 9 9 8.6 0 15.6-7 15.6-15.6V48c.1-6.9-4.4-12.7-10.6-14.8zM47.9 86.5h5.4c1.2 0 2.2 1 2.2 2.2s-1 2.2-2.2 2.2h-5.4c-1.2 0-2.2-1-2.2-2.2 0-1.3.9-2.2 2.2-2.2zM23.4 41.4v28.3c0 2.1-1.7 3.8-3.8 3.8-5.7 0-10.4-4.7-10.4-10.4V48c0-5.7 4.7-10.4 10.4-10.4 2 0 3.8 1.7 3.8 3.8zm67.4 21.8c0 5.7-4.7 10.4-10.4 10.4-2.1 0-3.8-1.7-3.8-3.8V41.4c0-2.1 1.7-3.8 3.8-3.8 5.7 0 10.4 4.7 10.4 10.4v15.2z"/></svg>'
    },
    {
     title: $.p22,
     desc: $.p23,
     thumb: '<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 50 50" fill="#fff"> <path d="M13.4 42.2h6l4.8 3.5c.2.2.5.2.7.2s.5-.1.7-.2l4.8-3.5h6c.5 0 1-.3 1.2-.9l1.9-5.7 4.8-3.5c.4-.3.6-.9.5-1.4L43.1 25l1.9-5.7c.2-.5 0-1.1-.5-1.4l-4.8-3.5-1.9-5.7c-.2-.5-.6-.9-1.2-.9h-6l-4.8-3.5c-.4-.3-1-.3-1.5 0l-4.8 3.5h-6c-.5 0-1 .3-1.2.9l-1.9 5.7-4.8 3.5c-.4.3-.6.9-.5 1.4L6.9 25 5 30.7c-.2.5 0 1.1.5 1.4l4.8 3.5 1.9 5.7c.2.5.7.9 1.2.9zM7.7 30.6l1.7-5.2c.1-.3.1-.5 0-.8l-1.7-5.2 4.4-3.2c.2-.2.4-.4.5-.6l1.7-5.2h5.5c.3 0 .5-.1.7-.2L25 6.9l4.4 3.2c.2.2.5.2.7.2h5.5l1.7 5.2c.1.3.2.5.5.6l4.4 3.2-1.7 5.2c-.1.3-.1.5 0 .8l1.7 5.2-4.4 3.2c-.2.2-.4.4-.5.6l-1.7 5.2h-5.5c-.3 0-.5.1-.7.2L25 43.1l-4.4-3.2c-.2-.2-.5-.2-.7-.2h-5.5l-1.7-5.2c-.1-.3-.2-.5-.5-.6l-4.5-3.3z"/> <path d="M25 31.1c-1.4 0-2.5-.9-2.5-2 0-.7-.6-1.2-1.2-1.2s-1.3.5-1.3 1.2c0 2.1 1.6 3.8 3.8 4.3v2.3c0 .7.6 1.2 1.2 1.2s1.2-.6 1.2-1.2v-2.3c2.1-.5 3.7-2.2 3.7-4.3 0-3.1-2.4-4.4-4.4-5.5-1.8-1-2.9-1.6-2.9-2.9 0-.5.3-.9.5-1.1.4-.4 1.1-.7 1.7-.7 1.2 0 2.2.8 2.2 1.8 0 .7.6 1.2 1.2 1.2s1.2-.6 1.2-1.2c0-2-1.5-3.6-3.5-4.1v-2.3c0-.7-.6-1.2-1.2-1.2s-1.2.6-1.2 1.2v2.3c-.9.2-1.7.6-2.3 1.2-.8.8-1.2 1.8-1.2 2.8 0 2.8 2.3 4.1 4.2 5.1 1.9 1 3.1 1.8 3.1 3.3.2 1.2-.9 2.1-2.3 2.1z"/></svg>'
    },
  ]
  const getRandomArbitrary = (min, max) => {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  /**
   * @func get site.com instead income https://site.com
   * @return {string} link to personal area
   */
  String.prototype.my = function() {
    var dataFormated = this.replace('https:\/\/', '');
    var patt = new RegExp('\/$');
    if (patt.test(dataFormated)) {
      dataFormated = dataFormated.replace(/\/$/, '');
    }
    return "https://my." + dataFormated;
  };

mixin benefit(props)
  .col-sm-6.col-lg-3
    .benefit
      .benefit__thumb: i.i(class=`i--${props.thumb}`)
      .benefit__body
        h3.benefit__title!= props.title
        .benefit__desc!= props.desc

mixin bullet(props)
  .bullet
    .bullet__thumb!= props.thumb
    .bullet__body
      h3.bullet__title!= props.title
      .bullet__desc!= props.desc

mixin icon(name,mod)
  - mod = mod || ''
  svg(class=`i i--${name}`)
    use(xlink:href="i/sprite.svg#" + name)

mixin checkbox(title, attr)
  - attr.id = attr.id || 'fbs' + getRandomArbitrary(1, 300)
  .js-checkbox.checkbox(role="checkbox" tabindex="0")
    input.checkbox__input(type="checkbox" name="RegistrationForm[agreeWithTerms]" value="1")&attributes(attr)
    label.checkbox__label(for=attr.id)
      i.checkbox__icon
      |  !{title}

mixin form
  form.form(method="POST" action=`${$.site.my()}/registration/?lang=${$.lang}`)
    .row
      .col-sm-6.form__group
        input.form__input.is-block(type="text" name="RegistrationForm[name]" placeholder=$.f1)
      .col-sm-6.form__group
        input.form__input.is-block(type="email" name="RegistrationForm[email]" placeholder=$.f2)
        input(type="hidden" name="RegistrationForm[tariff]" value="stand")
    .form__group
      +checkbox($.f3.replace($.f4, `<a href="https://my.fbs.com/upload/agreement_en.pdf" target="_blank">${$.f4}</a>`), {})
    button.btn.btn--brand.is-fx-width!= $.f5
