.promo {
  background-color: #4ca3cb;
  padding-bottom: 30px;
  background-image:
    url('#{$src}bg-360-top.jpg'),
    url('#{$src}bg-360-bottom.jpg');
  background-position: center top, center bottom;
  background-size: contain, contain;
  background-repeat: no-repeat;

  overflow: hidden;

  @media(min-width: 500px) {
    background: url('#{$src}bg-960.jpg') center center / cover  no-repeat;
  }
  @media (min-width: 960px) {
    background: url('#{$src}bg-1200.jpg') center center / cover no-repeat;
  }
  @media (min-width: 1200px) {
    background: url('#{$src}bg-1900.jpg') center center / cover no-repeat;
  }

  &__header {
    text-align: center;
  }

  &__sub {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      text-shadow: 0 2px 5.64px rgba(255, 255, 255, 0);
    }
    @media (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  &__ticket {
    padding: 0 10px;

    position: relative;

  }
}

.ticket {
  background-color: #8dc63f;
  border-radius: 16px 16px 0 0;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto 170px;

  max-width: 301px;
  position: relative;
  z-index: 1;


  @media (max-width: 767px) {
    &::after {
      content: '';
      position: absolute;
      bottom: -174px;
      left: -11px;
      right: -10px;
      height: 174px;
      background: url('#{$src}ticket-bot-360.png') center bottom no-repeat;
    }
  }



  @media (min-width: 768px) {
    border-radius: 16px;
    max-width: 735px;

    background: #8dc63f url('#{$src}bg-ticket.png') center center no-repeat;
  }


  &__title {
    background-color: #ebedea;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding: 30px 20px;
    border-bottom: 3px dashed rgba(102, 102, 102, 0.6);
    margin-bottom: 25px;

    position: relative;
    z-index: 2;
    text-transform: uppercase;
    // letter-spacing: -0.06em;



    @media (min-width: 768px) {
      &::before {
        content: 'First class';
        text-transform: capitalize;
        position: absolute;
        top: 0;
        left: 10px;

        color: #575a5e;
        font-size: 12px;
        font-weight: 600;
        font-style: italic;
        line-height: 32px;
      }


      &::after {
        content: '';
        position: absolute;
        right: -2px;
        top: -5px;
        bottom: -5px;
        border-right: 3px dashed rgba(102, 102, 102, 0.6);
      }

      border-bottom: none;
      text-align: left;
      padding: 25px 10px 25px 25px;
    }
  }

  &__form {
    // margin-bottom: 200px;

    @media (min-width: 768px) {
      padding-bottom: 15px;
      padding-top: 35px;
      margin-bottom: 0;
      position: relative;
      width: 370px;

      &::before {
        content: 'Boarding pass';
        position: absolute;
        top: 0;
        left: 25px;

        color: #575a5e;
        font-size: 12px;
        font-weight: 600;
        font-style: italic;
        line-height: 32px;
      }
    }
  }

  @media (min-width: 768px) {

    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;

    box-sizing: border-box;



    &::before {


      content: '';
      position: absolute;
      bottom: 0;
      left: -330px;
      bottom: -270px;
      width: 410px;
      height: 508px;
      z-index: 3;

      background: url('#{$src}hand-v2.png') no-repeat center center;

    }
    &__wrapper {
      display: table;

      position: relative;
      padding-left: 80px;

      &::before {
        content: '';
        width: 80px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 2;

        background-image:
          url('#{$src}logo-ticket.png'),
          url('#{$src}code_03.jpg');
        background-position: center 20px, center center;
        background-repeat: no-repeat;
      }
    }

    &__title,
    &__form {
      display: table-cell;
      vertical-align: middle;
    }
    // &__form {}
  }
}

.logo {
  display: inline-block;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  img {
    height: auto;
    width: 63px;
  }
}

.slogan {
  color: #fff;
  max-width: 510px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(79, 166, 207, 0.9);
  padding: 15px 30px;
  border-radius: 20px;

  position: relative;
  z-index: 2;

  @media (min-width:768px) {
    &::before {
      content: '';
      position: absolute;
      top: -38px;
      height: 38px;
      left: 0;
      right: 0;

      background: url('#{$src}bubble-corner.png') 5px 10px no-repeat;
    }
  }

  &__title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 400;
    position: relative;

    @media(min-width: 768px) {
      font-size: 28px;

    }
  }

  &__sub {
    font-size: 18px;

    @media(min-width: 768px) {
      font-size: 24px;
    }
  }
}

// .hand {
//   background: url('#{$src}hand.png') 50% no-repeat;
//   width: 735px;
//   height: 549px;
//   position: absolute;
//   left: 0;
// }

